<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

</head>

<body>
  <!-- Navigation  start-->
  <div class="navigation">
    <nav class="navbar   navbar-fixed-top">
      <ul class="navbar-nav">
        <img src="images/i4.jpeg" class="navigation_Icon">
   

      </ul>
    </nav>
  </div>
  <!-- Navigation  End-->
  <!-- <h1><%= title %></h1> -->
  <div style="margin-top:300px;background-color:white;height:500px;">
    <center>
      <h1>Welcome to <%= title %></h1>

      <h3>Thank you</h3>
    </center>
  </div>

</body>

</html>