<html>

<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <script src="javascripts/script.js"></script>
  <!-- Optional theme -->
  <script src="jquery-3.4.0.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous">
  </script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous">
  </script>
</head>

<body>
  <!-- Navigation  start-->
  <div class="navigation">
    <nav class="navbar   navbar-fixed-top">
      <ul class="navbar-nav">
        <img src="images/i4.jpeg" class="navigation_Icon">
        <a class="nav-link" href="#" style="margin-left:1400px;">Home</a>
        <a class="nav-link  navigation_link" href="#about">About</a>
        <a class="nav-link  navigation_link" href="#Search">Search</a>
        <a class="nav-link  navigation_link" href="#contact">Contact</a>

      </ul>
    </nav>
  </div>
  <!-- Navigation  End-->
  <!-- Slider carousel start-->
  <div class="container-fluid   slider_display">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->

      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="images/i1.jpeg" alt="image1" class="slider_image" style="height:850px;">
        </div>

        <div class="item">
          <img src="images/i2.jpeg" alt="image2" class="slider_image" style="height:850px;">
        </div>

        <div class="item">
          <img src="images/i3.jpeg" alt="image3" class="slider_image" style="height:850px;">
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <!-- Slider carousel End-->
  <!-- About us Start-->
  <div class="container-fluid" id="about">
    <h1 align="center">About us</h1>
    <h3 class="about_text">We are the best one for providing foods and services</h3>
    <div class="container-fluid" style="margin-top:40px;">
      <div class="row">
        <div class="col-lg-4" align="center">
          <img src=images/i6.jpeg class="about_image">
          <h2 class="about_subtext">Neat Environment</h2>
        </div>
        <div class="col-lg-4" align="center">
          <img src=images/i7.jpeg class="about_image">
          <h2 class="about_subtext">Feel better</h2>
        </div>
        <div class="col-lg-3" align="center">
          <img src=images/i8.jpeg class="about_image">
          <h2 class="about_subtext">Costless services</h2>
        </div>
      </div>
    </div>
    <!-- <About us END -->
    <!-- Search Content Start -->
    <div class="search search-billboard text-center " style="margin-top:30px;background-color:cornsilk">
      <div class="container ">

        <div id="Search">
          <h2> Search Your restaurant</h2>
        </div>
        <div class="row  col-lg-12 " style="margin-left:300px;">
          <div class="col-xs-4 pr-0">
            <select id="select_id" class="form-control form-control-lg">
              <option value="Select City" hidden>Select City</option>
              <option value="4">Bengaluru</option>
              <option value="3">Mumbai</option>
              <option value="1">Delhi</option>
              <option value="6">Hyderabad</option>
              <option value="5">Pune</option>
              <option value="7">Tamilnadu</option>
              <option value="2">Kolkata</option>
              <option value="8">Lucknow</option>
              <option value="10">Jaipur</option>
              <option value="11">Ahmedabad</option>
              <option value="12">Chandigarh</option>
              <option value="9">Kochin</option>
              <option value="13">Goa</option>
              <option value="29">Odisha</option>
              <option value="28">Andhra Pradesh</option>

              <!-- <option value="15">Kovcbxbcchin</option> -->
            </select>
          </div>


          <button id="getCity" class="btn btn-success col-xs-2">Search</button>

        </div>
      </div>
    </div>
    <div class="container">
      <div>

        <div class="message col-md-12"></div>
      </div>
    </div>
    <!-- Search Content End -->
    <!-- <footer start -->
    <div class="container-fluid  contact " id="contact" class="row">
      <div class="col-lg-4" style="margin-top:70px;">
        <h2 style="margin-left:40px;"> Our Blogs</h2>
        <p class="footer_text"> Something Something Something Something Something Something
          Something SomethingSomething Something Something</p>
      </div>
      <div class="col-lg-4" style="margin-top:70px;">
        <h2 style="margin-left:40px;"> Connect With us</h2>
        <form class="footer_form">
          <div class="md-form form-sm">
            <input class="form-control " id="name" type="text" placeholder="Name" required="">

          </div>
          <div class="md-form form-sm" style="margin-top:15px;">
            <input class="form-control " id="name" type="email" placeholder="Email" required="">


          </div>
          <div class="md-form form-sm" style="margin-top:20px;">
            <textarea style="margin-top:20px;" class="form-control md-textarea " id="msg" type="text"
              placeholder="Message" required=""></textarea>

          </div>
          <button class="button" type="submit" style="margin-left:100px;">Send</button>
        </form>

      </div>
      <div class="col-lg-4" style="margin-top:70px;">
        <h3 style="margin-left:40px;"> CONTACT US</h3>
        <a href="https://www.facebook.com/"> <i class="fa fa-facebook-f" style="font-size:30px;padding: 15px;"></i></a>
        <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox"> <i class="fa fa-google-plus"
            style="font-size:30px;padding:15px;"></i></a>
        <a href="https://www.linkedin.com/uas/login"> <i class="fa fa-linkedin"
            style="font-size:30px;padding:15px;"></i></a>
        <a href="https://crystaldelta.slack.com/messages"> <i class="fa fa-slack"
            style="font-size:30px;  padding:15px;"></i> </a>
      </div>

      <!-- footer end -->
     
      
      <script
       src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script src="/javascripts/script.js"></script>
</body>

</html>