body {

  font-family: "Times New Roman", Times, serif;
}

a {
  color: #00B7FF;
}

/* nav menu style start */
.navigation {
  height: 50px;
  font-size: 25px;
  background-color: transparent;
  font-size: 18px;
}

.navigation_Icon {
  width: 70px;
  height: 70px;
}

.navigation_link {
  margin-left: 20px;
}

/* nav menu style end */
/* Slider style */
.slider_display {
  display: inline
}

.slider_image {
  width: 2000px;
  height: 700px;
}

/* about style */
.about_text {
  font-size: 20px;
  text-align: center;
}

.about_image {
  width: 400px;
  height: 300px;
}

.about_subtext {
  font-size: 25px;
  text-align: center
}

/* selector style */
.search-billboard .img {
  margin-bottom: 0px;
  opacity: 0.7;
  color: #fff;
  /* background-color: cornsilk;*/

  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.search h2 {
  margin-top: 0;
}

.search {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

.search .container {
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .search {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.text-color {
  color: white;
}

.pt {
  padding-top: 75px;
}

.logo {
  width: 150px;
  height: 150px;
}

.data {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #F5F5F5;
}

a.action_link {
  text-decoration: none;
}

.resimg {
  float: left;
  margin-right: 15px;
}



.horizontal-center-row {
  display: flex;
  justify-content: center;
}

.rating {
  float: right;
  margin-right: 15px;
}

/* footer style */
.contact {
  width: 100%;
  height: 350px;
  margin-top: 50px;

}

.footer_text {
  color: black;
  font-size: 15px;
}

.footer_form {
  width: 350px;
  height: 100px;
}